/* FOOTER END STARTS HERE */

footer .end-footer-top div {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #929292;
}

footer .end-footer-top div div.left {
    max-width: 45rem;
    display: flex;
    justify-content: space-between;
}

footer .end-footer-top div div.left div {
    width: 100%;
    margin: 0 0.75rem;
    display: block;
}

footer .end-footer-top div div.left img {
    width: 10rem;
    display: inline-block;
}

footer .end-footer-top div div.left div span {
    display: block;
}


footer .end-footer-top div div.right {
    width: auto;
    display: block;
    justify-content: space-between;
    font-size: 0.75rem;
}


/* FOOTER END BOTTOM STARTS */

footer .end-footer-bottom div.container {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: left;
    color: #929292;
    margin-bottom: 3rem;
}

footer .end-footer-bottom div div.left {
    display: block;

    & p {
        font-size: 0.80rem;
    }
}

footer .logo {
    max-width: 15rem;
}

footer .end-footer-bottom div div.right {
    width: 12rem;

    & span {
        display: block;
        margin-bottom: 0.75rem;
        font-size: 1.15rem;
    }
}


footer .end-footer-bottom div.right ul {
    display: flex;
}

footer .end-footer-bottom div.right ul a {
    display: block;
    margin-right: 1rem;
    font-size: 2.25rem;
    color: var(--main-color);

    &:hover {
        color: #5da132;
    }

    & i {
        transform: rotate(-5deg);
    }
}

footer .end-footer-bottom div.right ul li:last-child {
    transform: rotate(10deg);
}