/* FOOTER STARTS HERE */

footer {
    border-top: 2px solid #e2e2e2;
    background-color: white;
}

footer nav.nav-buttons {
    background-color: var(--background-color);
}

footer nav.nav-buttons div ul {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    padding: 0.75rem 0;

}

footer nav.nav-buttons div ul li:first-child {
    border-left: 2px solid #e2e2e2;
}

footer nav.nav-buttons div ul li {
    width: 100%;
    height: 100%;

    &:hover {
        background-color: white;
    }
}

footer nav.nav-buttons div ul li a {
    display: block;
    text-decoration: none;
    color: #5da132;
    padding: 1rem 0.5rem;
    border-right: 2px solid #e2e2e2;
    font-size: 2rem;

    &:hover {
        color: var(--main-color);

        & span {
            color: var(--main-color);
        }
    }
}

footer nav.nav-buttons div span {
    margin-top: 0.5rem;
    color: var(--secondary-color);
    display: block;
    font-size: 0.75rem;
}


/* PUBLI STARTS HERE */

footer section.publicidad {
    background-color: var(--background-color);
}

footer section.publicidad div {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0.75rem 0;
}

footer section.publicidad div figure {
    position: relative;
    width: 100%;
    height: 10rem;

    & img {
        object-fit: cover;
    }
}

footer section.publicidad div:nth-child(2) {
    margin: 0 1rem;
}

footer section.publicidad div figure a {
    position: absolute;
    text-decoration: none;
    position: end;
    color: #5da132;
    font-size: 0.9rem;
    font-weight: 600;
    border: 1px solid #5da132;
    padding: 0.75rem 1rem;

    &:hover {
        color: white;
        background-color: var(--main-color);
        border: 1px solid var(--main-color);
    }

    & i {
        margin-left: 0.35rem;
    }

}


/* NAV BOTTOM STARTS */

nav.nav-bottom {
    background-color: var(--background-color);
}

nav.nav-bottom div {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: top;
}

nav.nav-bottom div div {
    width: auto;
    display: block;
}

nav.nav-bottom div div.linea {
    border-top: 2px solid #e2e2e2;
    width: 4rem;
    margin: 0.6rem 0.25rem;
}

nav.nav-bottom div h4 {
    color: #5da132;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

nav.nav-bottom div ul {
    display: inline-block;
    margin-right: 0.75rem;
}

nav.nav-bottom div ul li {
    padding: 0.25rem 0;
    font-size: 0.9rem;
    font-weight: 500;
}

nav.nav-bottom div ul li a {
    text-decoration: none;
    color: var(--secondary-color);

    &:hover {
        color: var(--main-color);
    }
}

div.triangle {
    height: 10rem;
    background-color: var(--background-color);
    clip-path: polygon(0% 0%, 65% 100%, 100% 50%, 100% 0%);
}