@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');
@import url('./layout.css');
@import url('./header.css');
@import url('./main.css');
@import url('./footer.css');


/* NAV BOTTOM STARTS */

nav.nav-bottom {
    background-color: var(--background-color);
}

nav.nav-bottom div {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: top;
}

nav.nav-bottom div div {
    width: auto;
    display: block;
}

nav.nav-bottom div div.linea {
    border-top: 2px solid #e2e2e2;
    width: 4rem;
    margin: 0.6rem 0.25rem;
}

nav.nav-bottom div h4 {
    color: #5da132;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

nav.nav-bottom div ul {
    display: inline-block;
    margin-right: 0.75rem;
}

nav.nav-bottom div ul li {
    padding: 0.25rem 0;
    font-size: 0.9rem;
    font-weight: 500;
}

nav.nav-bottom div ul li a {
    text-decoration: none;
    color: var(--secondary-color);

    &:hover {
        color: var(--main-color);
    }
}

div.triangle {
    height: 10rem;
    background-color: var(--background-color);
    clip-path: polygon(0% 0%, 65% 100%, 100% 50%, 100% 0%);
}