<form [formGroup]="newForm" (ngSubmit)="onSubmit()">
    <div class="input-group mb-5">
        <label class="input-group-text" for="categorias">Categoria</label>
        <select class="form-select" id="categorias" formControlName="categoria">
            <option value="general">General</option>
            <option value="front">Front-End</option>
            <option value="back">Back-End</option>
            <option value="tools">Herramientas</option>
        </select>
        <input type="submit" value="Filtrar" class="btn btn-warning">
    </div>
</form>

<div class="row g-4">
    @for(post of ArrPosts; track $index){
    <div class="col-12 col-sm-6 col-md-4">
        <article>
            <h2>{{post.titulo}}</h2>
            <img [src]="post.imagen" alt="Imagen del Post">
            <p>{{post.texto}}</p>
            <p><b>Autor</b>: <em>{{post.autor}}</em></p>
            <p><b>Categoria:</b> {{post.categoria}}</p>
            <p><b>Escrito en:</b> {{post.fecha | date:'medium'}}</p>
        </article>
    </div>
    }
</div>