* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

:root {
    --main-font: "Roboto", sans-serif;
    --main-color: #0653b6;
    --font-size: 1rem;
    --max-width: 58rem;
    --gap: 1rem;
}

body {
    font-family: var(--main-font);
    font-size: var(--font-size);
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
}