* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

:root {
    --primary-font: "Montserrat", sans-serif;
    --title-font: "Handlee", cursive;
    --main-color: #fa573F;
    --secondary-color: #21242e;
    --font-size: 1rem;
    --max-width: 68.75rem;
    --gap: 1rem;
}

body {
    font-family: var(--primary-font);
    font-size: var(--font-size);
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
}