@import url(./reset.css);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('./layout.css');
@import url('./header.css');

/* HEADER STARTS*/

header {
    position: relative;
    height: 25rem;
    background-image: url(../../images/Ej4/newhero.jpg);
    background-size: cover;
    background-position: center;
}

header figure {
    width: calc(100% - 1.875rem);

    & a {
        display: inline-block;
        width: 5rem;
    }
}

header nav .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & a {
        text-decoration: none;
    }

    & span {
        color: black;
        display: inline-block;
        background-color: white;
    }

    & i {
        color: var(--main-color);
        font-size: 100%;
    }
}

header nav .menu a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 20px 0px;
    color: black;

    &:hover {
        color: grey;
    }
}


/* HERO STARTS*/

.hero {
    position: absolute;
    bottom: 0;
    padding-left: 7.5%;
    padding-bottom: 1.5rem;
    text-shadow: 1px 1px 1px black;
    text-align: left;
    color: white;

    & h1 {
        font-size: 2rem;
        margin-bottom: 0.6rem;
        font-weight: 700;
    }

    & h2 {
        font-size: 1.1rem;
        margin-bottom: 0.6rem;
        font-weight: 500;
    }

    & a {
        display: inline-block;
        text-decoration: none;
        text-shadow: none;
        color: white;
        background-color: #0653b6;
        padding: 1rem 3.5rem;
    }
}


/* MAIN SECTION STARTS */

section .grid-coches {
    display: grid;

    & article {
        padding: 1.25rem 0;
    }
}

section a {
    text-decoration: none;
    color: black;

    &:hover {
        color: grey;
    }
}

article figure {
    width: calc(100% - 1.875rem);

    & a {
        display: inline-block;
        width: 6.25rem;
    }
}


/* media queries */

@media(min-width: 48rem) {
    header .nav-top .container {
        justify-content: space-between;
        padding: 0rem 0.625rem;

        & i {
            font-size: 150%;
        }

        & span {
            display: inline;
        }
    }

    section .grid-coches {
        grid-template-columns: repeat(2, 1fr);
        gap: var(--gap);

        & article {
            padding: 1.25rem;
            border-bottom: 0;
        }
    }

    section .grid-coches article:last-child {
        grid-column: 1/2;
    }

    section .flex {
        display: flex;
    }

}

@media(min-width: 50rem) {

    section .grid-coches {
        grid-template-columns: repeat(3, 1fr);
        gap: var(--gap);

        & article {
            padding: 1.25rem;
            border-bottom: 0;
        }
    }

    section .grid-coches article:last-child {
        grid-column: 1/2;
    }

    section .flex {
        display: flex;
    }

}

@media(min-width: 64rem) {

    section .grid-coches {
        grid-template-columns: repeat(4, 1fr);
        gap: var(--gap);

        & article {
            padding: 1.25rem;
            border-bottom: 0;
        }
    }

    section .grid-coches article:last-child {
        grid-column: 1/2;
    }

    section .flex {
        display: flex;
    }

}